h3{
	margin-top:0px;
}

.tile{
	margin: 5px;
	padding:15px;
}

.first{
	background-color:#FF3D3D;
	color:white;
	font-family:'Roboto', helvetica;
	margin-right:0px;
}

.second{
	background-color:#0099FF;
	color:white;
	font-family:'Roboto', helvetica;
	margin-left:0px;
	text-align: right;
}

.profile{
	width:70px;
	height:70px;
	z-index:100;
}

.left-arrow{
	width:350px;
	background-color: #888888;
	margin-left:-85px;
	margin-top:10px;
	z-index:-10;
	text-align:left;
}

.right-arrow{
	width:350px;
	background-color: #888888;
	margin-top:35px;
	z-index:-10;
	margin-left:-150px;
	text-align:right;
}

#right-message {
	margin-top: -1px;
}

.happy{
	background-color:#FF9900;
}

.sad{
	background-color:#0066FF;
}

.angry{
	background-color:#FF3333;
}
